.new-search-button {
    background-color: #6a0dad; /* Same purple as the navbar */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .new-search-button:hover {
    background-color: #5b0ca8; /* Slightly darker shade for hover effect */
  }
  