.Definition {
  max-width: 35rem;
}
.declaration {
  border: solid black;
  border-width: 0 0 0.15rem 0;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
  width: fit-content;
}

.grammar {
  font-size: 0.8rem;
  width: fit-content;
}
.word {
  font-size: 2.3rem;
  margin: 0 0 1rem 0;
  width: fit-content;
}

.description {
  line-height: 1.4rem;
}
